{% extends 'base/index.html' %}{% load staticfiles %}

{% block css %}{% endblock %}

{% block content %}

<div class="h-100h gradient">

</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3"> <span>Hello, world!</span></h1>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est omnis, nesciunt dignissimos corrupti sit, odio deserunt amet, natus ad ab earum adipisci non commodi provident harum fugiat itaque animi atque.
        </p>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">All about web</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Design and development</h6>
                        <p class="card-text">
                            
                        </p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Marketing and Media</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Digital marketing</h6>
                        <p class="card-text">
                            
                        </p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Cloud Services</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Infraestructure as a Service "IaaS"</h6>
                        <p class="card-text">
                            
                        </p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CAROUSEL -->
<div class="container-fluid">
    <div class="row">
        <div class="CarouselMain d-none d-sm-block d-sm-block">
            <div id="myCarousel">
                <div class="hideLeft">
                    <img src="https://s16.postimg.org/vklrwoxtx/cover9.jpg">
                </div>
                <div class="prevLeftSecond">
                    <img src="https://s16.postimg.org/cgsggckzp/cover8.jpg">
                </div>
                <div class="prev">
                    <img src="https://s16.postimg.org/emmrauog5/cover7.jpg">
                </div>
                <div class="selected">
                    <img src="https://s16.postimg.org/9drqcz611/cover1.jpg">
                </div>
                <div class="next">
                <img src="https://s16.postimg.org/pnhwfvgp1/cover6.jpg">
                </div>
                <div class="nextRightSecond">
                   <img src="https://s16.postimg.org/edp6kxbnp/cover4.jpg">
                </div>
                <div class="hideRight">
                    <img src="https://s16.postimg.org/fij8qay4l/cover3.jpg">
                </div>
            </div>
            <!-- <div class="CarouselButtons">
                <button id="prev">Prev</button>
                <button id="next">Next</button>
            </div>  -->
        </div>
    </div>
</div>
<!--  -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3"> <span>Hello, world!</span></h1>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est omnis, nesciunt dignissimos corrupti sit, odio deserunt amet, natus ad ab earum adipisci non commodi provident harum fugiat itaque animi atque.
        </p>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">All about web</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Design and development</h6>
                        <p class="card-text">
                            
                        </p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Marketing and Media</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Digital marketing</h6>
                        <p class="card-text">
                            
                        </p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Cloud Services</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Infraestructure as a Service "IaaS"</h6>
                        <p class="card-text">
                            
                        </p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}{% endblock %}