<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom fixed-top gradient">{% load staticfiles %}
    <div class="container">
        <a href="/" class="navbar-brand logo-text">Dev2tech</a>
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar9">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar9">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#">work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#">contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">translate</i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">ES</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>