{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<style media="screen">
    .card
    {
        position: relative;
        background-color: rgba(63, 63, 63, 0.15);
        margin-top: 50px;
        height: 300px;
        border: 3px solid rgba(63,63,63, 0.05);
        padding: 0;
    }
    .card-title
    {
        position: absolute;
        background-color: rgba(63, 63, 63, 0.515);
        margin: 0;
        width: 100%;
    }
    .card-content
    {
        background-color: #333;
    }
</style>
{% endblock %}

{% block content %}
<div class="row {% if services.color %}{{services.color}}{% else %}gray{%endif%} quote hyper-padding">
    <div class="quote-text overall ">
        <h3 class="center-title hyper-text">
            {{service.title}}
        </h3>
    </div>
</div>
<div class="row">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'services' %}">Servicios</a></li>
            <li class="active">{{service.name}}</li>
        </ol>
    </div>
</div>
<div class="row">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="content-markdown">
            {{service.description}}
        </div>
    </div>
</div>

{% include 'frontend/contact-form.html' %}
{% endblock %}

{% block js %}

{% endblock %}
