{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<style media="screen">
.sub-service-container
{
    padding: 50px 0;
}
.services-container
{
    margin: 50px auto;
}
</style>
{% endblock %}

{% block content %}
<div class="row {% if service.color %}{{service.color}}{% else %}gray{%endif%} quote hyper-padding">
    <div class="quote-text overall ">
        <h3 class="center-title hyper-text">
            {{service.title}}
        </h3>
    </div>
</div>
<div class="row">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'services' %}">Servicios</a></li>
            <li class="active">{{service.name}}</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="container services-container">
        <div class="col-xs-12">
            <div class="content-markdown">
                {{service.description|safe}}
            </div>
        </div>
    </div>
</div>
{% if sub_services %}
<div id="subServices" class="row">
    {% for services in sub_services %}
    <div class="container sub-service-container left">
        <div class="col-xs-12">
            <div class="col-sm-7">
                <h2 class="jumbo-text">
                    {{services.sub_title}}
                </h2>
                <p>{{services.description|linebreaks}}</p>
            </div>
            <div id="" class="col-sm-5">
                <img class="img-responsive" src="/media/envelope.png" alt="{{services.title}}">
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}


{% include 'frontend/contract-form.html' %}
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function (){
        var subServices = $('#subServices')
    });
</script>
{% endblock %}
