{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
{% endblock %}

{% block content %}
<div class="row vh60 turquesa">
    <br>
    <br>
    <br>
    <br class="hidden-xs">
    <br class="hidden-xs">
    <br class="hidden-xs">

    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <h2 class="text-center text-onlysection">
                "Programación, web profesional y a la medida"
            </h2>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <img src="/media/web.png" class="img-thumbnail text-center" alt="correo corporativo" width="600">
            </div>
        </div>
    </div>
</div>

<div class="row gray">
    <div class="container">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    "Landing page" o Página de aterrizaje
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    Página web ideal para mostrarse al mundo.
                </h3>
                <hr>
                <p class="text-justify text-services">
                    Un “landing page”, o “página de aterrizaje”, es una página web diseñada específicamente para convertir visitantes en futuros clientes. Su función es sencilla: si se ofrece algo que seduzca al usuario, éste estará más dispuesto a dejar información a través de un formulario, así vamos a conseguir datos del usuario y con ello contenido de interés.
                </p>
                <p class="text-center">
                    <blockquote class="text-services">
                        ¡ Conocer es amar... Quien te conoce te ama, quien te ama te recomienda !
                    </blockquote>
                </p>
                <p class="text-justify text-services">
                    Esta página nos ayuda a convertir a los visitantes en clientes finales, por ello es tan importante crear un “landing page” que permita conocernos.
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="row gray">
    <div class="container">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Página web corporativa
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    Página web ideal medianas y grandes empresas con funciones a la medida.
                </h3>
                <hr>
                <p class="text-justify text-services">
                    Una web corporativa, tal como su nombre lo dice, está enfocada a empresas, a las empresas que no se resisten al cambio y comprenden que el internet mueve las masas, las redes sociales impulsan las ventas y que si no estás en internet no existes.
                </p>
                <p class="text-justify text-services">
                    Las páginas web corporativas incluyen especialmente ajuste SEO, estadísticas de acceso mensuales mediante un portal e integración a redes sociales.
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="row gray">
    <div class="container">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    E-commerce o comercio electrónico
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    Ventas en la era tecnológica.
                </h3>
                <hr>
                <p class="text-justify text-services">
                    Un comercio electrónico es la nueva forma de comprar, permite ofrecer los productos o servicios desde la comodidad de "donde sea que se encuentre el cliente", este solo dependerá de una conexión a internet.
                </p>
                <p class="text-justify text-services">
                    Los comercios electrónicos, incluyen panel de administración, administración y manejo de stocks.
                </p>
                <p class="text-justify text-services">
                    La pasarela de pago puede ser sugerida por nosotros, pero aceptamos la requerida por el cliente.
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="row padding-50px panel-card cyan">
    <div class="container ">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Flujo de trabajo
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    Nuestro compromiso será siempre entregar un producto profesional.
                </h3>
                <hr>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="container-fluid">
                <img src="/media/work-flow.png" class="img-thumbnail" alt="Desarrollo" width="1000">
            </div>
        </div>
    </div>
</div>
<div class="row padding-50px gray">
    <div class="container text-plomo">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Lo que ofrecemos
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12 ">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    Consultorías
                </h3>
                <hr>
                <p class="text-justify text-services">
                    Con más de tres años de experiencia en desarrollo web, contamos con la habilidad de ofrecer solución ajustada a su necesidad.
                </p>
                <br>
                <p class="text-center text-services-sub">
                    Principales soluciones
                </p>
                <br>
                <p class="text-center text-services-sub">
                    Landing Page.
                </p>
                <br>
                <ul>
                    <li class="text-services">
                        Diseño responsive a la medida.
                    </li>
                    <li class="text-services">
                        CMS manejador de contenidos.
                    </li>
                    <li class="text-services">
                        Dominio.
                    </li>
                    <li class="text-services">
                        Hosting por 1 año.
                    </li>
                    <li class="text-services">
                        SSL 1 año.
                    </li>
                    <li class="text-services">
                        Correo electrónico corporativo por 3 meses (5 buzónes + 5 bg por buzón).
                    </li>
                </ul>
                <br>
                <p class="text-center text-services-sub">
                        Web Corporativa.
                </p>
                <br>
                <ul>
                    <li class="text-services">
                        Diseño responsive a la medida.
                    </li>
                    <li class="text-services">
                        api autenticación + CRUD.
                    </li>
                    <li class="text-services">
                        Dominio.
                    </li>
                    <li class="text-services">
                        Hosting por 1 año.
                    </li>
                    <li class="text-services">
                        SSL 1 año.
                    </li>
                    <li class="text-services">
                        Correo electrónico corporativo por 3 meses (5 buzónes + 5 bg por buzón).
                    </li>
                </ul>
                <br>
                <p class="text-center text-services-sub">
                    E-commerce.
                </p>
                <br>
                <ul>
                    <li class="text-services">
                        Diseño responsive a la medida.
                    </li>
                    <li class="text-services">
                        api autenticación + CRUD.
                    </li>
                    <li class="text-services">
                        Dominio.
                    </li>
                    <li class="text-services">
                        Hosting por 1 año.
                    </li>
                    <li class="text-services">
                        SSL 1 año.
                    </li>
                    <li class="text-services">
                        Integración con pasarela de pagos.
                    </li>
                    <li class="text-services">
                        Correo electrónico corporativo por 3 meses (5 buzónes + 5 bg por buzón).
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% include 'frontend/contact-form.html' %}
{% endblock %}

{% block js %}

{% endblock %}
