{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
{% endblock %}

{% block content %}
<div class="row vh60 cyan">
    <br>
    <br>
    <br>
    <br class="hidden-xs">
    <br class="hidden-xs">
    <br class="hidden-xs">

    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <h2 class="text-center text-onlysection">
                "Correo electrónico corporativo @sunombre.com"
            </h2>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <img src="/media/correo.png" class="img-thumbnail text-center" alt="correo electrónico corporativo" width="600">
            </div>
        </div>
    </div>
</div>
<div class="row padding-50px gray">
    <div class="container">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Importancia de un correo electrónico corporativo
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    Dominios públicos versus dominio privado.
                </h3>
                <hr>
                <p class="text-justify text-services">
                    Estamos en la era de la comunicación, en donde no importa la barrera de la distancia, ya que una conexión a internet nos permite contactar personas hasta en "La China".
                </p>
                <p class="text-justify text-services">
                    No hay un motivo especifico, pero cada empresa, organización pública o privada, debe comunicarse interna o externamente, los telegramas y señales de humo no nos pueden dar el resultado que deseamos, así que recurrir al correo es la mejor opción.
                </p>
                <br>
                <p class="text-center">
                    <blockquote class="text-services">
                        ¿Sera que usa la herramienta correcta?
                    </blockquote>
                </p>
                <br>
                <p class="text-justify text-services">
                    Pues si su dirección de correo termina en "@nombre-de-su-empres" entonces si tiene la herramienta correcta.
                </p>
                <p class="text-justify text-services">
                    De lo contrario deberá adquirir su cuenta de correo electrónico corporativo.
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="row padding-50px gray">
    <div class="container">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Colaboración
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    ! Correo eletrónico corporativo, que es más que solo un buzón ¡
                </h3>
                <hr>
                <p class="text-justify text-services">
                    Nuestra herramienta de correo electrónico corporativo tiene un rico conjunto de funciones que recopila toda la funcionalidad que sus clientes desean en un solo lugar, desde cualquier dispositivo
                </p>
                <p class="text-justify text-services">
                    Incluyendo:
                </p>
                <ul>
                    <li class="text-services">Adaptable a todos los dispositivos</li>
                    <li class="text-services">Agenda</li>
                    <li class="text-services">Contactos</li>
                    <li class="text-services">Manejo de progreso en actividades o tareas</li>
                    <li class="text-services">Almacenamiento de información</li>
                </ul>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="row padding-50px gray">
    <div class="container">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    ¿Aún no tiene correo electrónico corporativo?
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    Deje de tener una imagen poco profesional
                </h3>
                <hr>
                <p class="text-justify text-services">
                    Le ofrecemos 4 meses de correo electrónico corporativo, por el precio de 3.
                </p>
                <p class="text-justify text-services">
                    Consulte los paquetes que más se ajusten a su negocio y con gusto le ofreceremos toda la información.
                </p>

                <br>
            </div>
        </div>
    </div>
</div>
<div class="row padding-50px newBlue panel-card">
    <div class="container text-plomo">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Lo que ofrecemos
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12 ">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    Consultorías
                </h3>
                <hr>
                <p class="text-justify text-services">
                    Con más de dos años de experiencia en manejo correo electrónico corporativo, contamos con la habilidad de ofrecer solución ajustada a sus necesidades.
                </p>
                <br>
                <p class="text-center text-services-sub">
                    Principales soluciones
                </p>
                <br>
                <p class="text-center text-services-sub">
                    Correo electrónico para independientes.
                </p>
                <br>
                <ul>
                    <li class="text-services">
                        5 buzones de correo personalizables.
                    </li>
                    <li class="text-services">
                        5 Gb de almacenamiento por buzón.
                    </li>
                    <li class="text-services">
                        Hasta 19 buzones extras.
                    </li>
                    <li class="text-services">
                        Pague 3 meses y le ofrecemos 1 mes gratuito.
                    </li>
                </ul>
                <br>
                <p class="text-center text-services-sub">
                    Correo electrónico para Startups.
                </p>
                <br>
                <ul>
                    <li class="text-services">
                        25 buzones de correo personalizables.
                    </li>
                    <li class="text-services">
                        7 Gb de almacenamiento por buzón.
                    </li>
                    <li class="text-services">
                        Hasta 49 buzones extras.
                    </li>
                    <li class="text-services">
                        Pague 3 meses y le ofrecemos 1 mes gratuito.
                    </li>
                </ul>
                <br>
                <p class="text-center text-services-sub">
                    Correo electrónico para PYMES.
                </p>
                <br>
                <ul>
                    <li class="text-services">
                        75 buzones de correo personalizables.
                    </li>
                    <li class="text-services">
                        10 Gb de almacenamiento por buzón.
                    </li>
                    <li class="text-services">
                        Hasta 49 buzones extras.
                    </li>
                    <li class="text-services">
                        Pague 3 meses y le ofrecemos 1 mes gratuito.
                    </li>
                    </ul>
                <br>
                <p class="text-center text-services-sub">
                    Servidor de correo electrónico privado.
                </p>
                <br>
                <ul>
                    <li class="text-services">
                        Maneje su organización con un servidor dedicado de correos electrónicos.
                    </li>
                    <li class="text-services">
                        Almacenamiento a medida
                    </li>
                    <li class="text-services">
                        No se preocupe por buzones extras.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% include 'frontend/contact-form.html' %}
{% endblock %}

{% block js %}
<script type="text/javascript">

</script>
{% endblock %}
