{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}

{% endblock %}

{% block content %}
<div class="row vh60 cyan">
    <br>
    <br>
    <br>
    <br class="hidden-xs">
    <br class="hidden-xs">
    <br class="hidden-xs">

    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <h2 class="text-center text-onlysection">
                "En Dev2tech confiamos en la nube"
            </h2>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <img src="/media/infra.png" class="img-thumbnail text-center" alt="Infraestructura" width="600">
            </div>
        </div>
    </div>
</div>
<div class="row padding-50px gray">
    <div class="container">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Nube híbrida
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12 ">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    ¿Qué es?
                </h3>
                <hr>
                <p class="text-justify text-services">
                    La nube híbrida es aquella que se conforma tras la unión de servicios ejecutándose en una nube pública o privada y luego conectarla usualmente implementada por una conexión privada segura (VPN).
                </p>
                <br>
                <p class="text-center text-services-sub">
                    Principales usos
                </p>
                <ul>
                    <li class="text-services">
                        Guardar respaldos de seguridad.
                    </li>
                    <li class="text-services">
                        Integrar con servicios como ERP, CRM, etc...
                    </li>
                    <li class="text-services">
                        Comunicar organizaciones que se encuentren en distintas locaciones.
                    </li>
                    <li class="text-services">
                        Reducir costos.
                    </li>
                    <li class="text-services">
                        Ofrecer alta disponibilidad para servicios
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row padding-50px gray">
    <div class="container">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Nube Privada
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12 ">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    ¿Qué es?
                </h3>
                <hr>
                <p class="text-justify text-services">
                    La nube privada es aquella que se crea en un laboratorio o centro de datos informático de una empresa (el cuarto de equipos físico).
                </p>
                <br>
                <p class="text-center text-services-sub">
                    Principales usos
                </p>
                <ul>
                    <li class="text-services">
                        Mantener un directorio de equipos activos en la red.
                    </li>
                    <li class="text-services">
                        Manejo de uso y políticas de navegación de los usuarios.
                    </li>
                    <li class="text-services">
                        Respaldo de información.
                    </li>
                    <li class="text-services">
                        Seguridad informática.
                    </li>
                    <li class="text-services">
                        Ejecutar servicios de bases de datos y aplicativos empresariales.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row padding-50px gray">
    <div class="container">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Nube Pública
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12 ">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    ¿Qué es?
                </h3>
                <hr>
                <p class="text-justify text-services">
                    La nube pública es aquella que no podemos ver físicamente en la oficina, pero que se encuentra en algún "Data Center" de alguna gran empresa como: Google, Amazon Web Services o Microsoft.
                </p>
                <br>
                <p class="text-center text-services-sub">
                    Principales usos
                </p>
                <ul>
                    <li class="text-services">
                        Mantener alta disponibilidad en servicios.
                    </li>
                    <li class="text-services">
                        Hosting aplicaciones web.
                    </li>
                    <li class="text-services">
                        Servicios de análisis de "BIG DATA".
                    </li>
                    <li class="text-services">
                        Ahorro económico para desplegar aplicaciones y servicios.
                    </li>
                    <li class="text-services">
                        Respaldo de datos.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row padding-50px cyan">
    <div class="container">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Lo que ofrecemos
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12 ">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    Consultorías
                </h3>
                <hr>
                <p class="text-justify text-services">
                    Con más de dos años de experiencia en manejo de nube púbica y privada, contamos con la habilidad de ofrecer soluciones híbridas o standalone.
                </p>
                <br>
                <p class="text-center text-services-sub">
                    Principales soluciones
                </p>
                <ul>
                    <li class="text-services">
                        Directorio activo o "Active directory", nube pública y privada.
                    </li>
                    <li class="text-services">
                        Migración de servicios a la nube.
                    </li>
                    <li class="text-services">
                        Entorno de desrrollo, prueba y produccion.
                    </li>
                    <li class="text-services">
                        Bases de datos SQLServer, PostgreSql.
                    </li>
                    <li class="text-services">
                        Hadoop, Apache Sparks.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% include 'frontend/contact-form.html' %}
{% endblock %}

{% block js %}

{% endblock %}
