{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}

{% endblock %}

{% block content %}
<div class="row vh40 turquesa">

    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <h2 class="text-center text-onlysection">
                "En dev2tech nos preocupamos por hacerte crecer"
            </h2>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <img src="/media/marketing1.png" class="img-thumbnail text-center" alt="correo corporativo" width="600">
            </div>
        </div>
    </div>
</div>
<div class="row turquesa">
    <br class="hidden-sm hidden-mg hidden-lg">
    <br class="hidden-sm hidden-mg hidden-lg">
    <br class="hidden-sm hidden-mg hidden-lg">
    <div class="container">
        <ol class="breadcrumb">
            <li><a class="footer-list-a" href="{% url 'services'%}">Servicios</a></li>
            <li class="footer-list-a active">{{title}}</li>
        </ol>
    </div>
</div>
<div class="row gray">
    <div class="container">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Marketing de Voz a Voz
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12 ">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    Lo que se dice de mí, será determinante para lograr vender un producto o servicio.
                </h3>
                <hr>
                <p class="text-justify text-services">
                    La mejor manera de vender es logrando una buena opinión de los servicios o productos que serán vendidos. Nadie mejor que nuestros clientes pueden lograr ese efecto de sinergia, que se necesita para llegar a más personas.
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="row gray">
    <div class="container">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Redes Sociales
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12 ">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    Instagram y Facebook.
                </h3>
                <hr>
                <p class="text-justify text-services">
                    Si no estás en las redes sociales, lamentamos decir que la resistencia a los cambios tecnológicos, podrán causar pérdidas en sus negocios. Instagram, Facebook, Snapchat, son las herramientas en que se apoyan los grandes de la industria, para ofrecer una imagen positiva de sus servicios y/o productos.
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="row gray">
    <div class="container">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Influencer
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12 ">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    Impulsamos el crecimiento con personas reales.
                </h3>
                <hr>
                <p class="text-justify text-services">
                    Un "Influencer" es una persona, que cuenta con cierta credibilidad sobre un tema concreto. Esta persona, aportara comentarios en redes sociales, capaz de ser influencia para sus seguidores y personas conocidas, para hacer llegar una imagen positiva o negativa de sus servicios o productos.
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="row gray">
    <div class="container">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    SEO, SEM
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12 ">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    Optimizar en todo momento.
                </h3>
                <hr>
                <p class="text-justify text-services">
                    Tener un sitio web rompe la barrera de solo subir archivos e imágenes a un servidor, justo detrás de todo lo "bonito" de un sitio web hay una estructura, el famoso HTML5, CSS3 y JavaScript, que pueden lograr ser leídos por motores de búsqueda tales como "google.com", "bing.com", entre otros.
                </p>
                <p class="text-justify text-services">
                    En Dev2tech cuidamos de esta estructura, para proporcionar a nuestros clientes ser o estar entre los primeros registros de búsqueda en los distintos motores de búsqueda.
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="row gray">
    <div class="container">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Newsletters, o boletines digitales
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12 ">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    Marketing por correo electrónico.
                </h3>
                <hr>
                <p class="text-justify text-services">
                    Todos conocemos esos correos que muchas veces nos llegan a la carpeta de "Spam", que suelen ofrecer ofertas y/o actualizaciones de productos o servicios.
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="row padding-50px deepOrange">
    <div class="container text-white">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Lo que ofrecemos
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12 ">
            <div class="container-fluid">
                <h3 class="text-center text-services-sub">
                    Consultorías
                </h3>
                <hr>
                <ul>
                    <li class="text-services">
                        Manejo de redes sociales, conseguir seguidores y crecimiento.
                    </li>
                    <li class="text-services">
                        Influenciar sus actividades con un grupo de personas cuyo perfil ofrezca credibilidad y confianza para sus seguidores.
                    </li>
                    <li class="text-services">
                        Diseño de plantillas para sus boletines digitales.
                    </li>
                    <li class="text-services">
                        Diseño de estrategia de SEO y SEM.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% include 'frontend/contact-form.html' %}
{% endblock %}

{% block js %}
<script type="text/javascript">

</script>
{% endblock %}
