{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}

{% endblock %}

{% block content %}
<div class="row vh40 turquesa">

    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <h2 class="text-center text-onlysection">
                "Herramienta de correo electrónico corporativo"
            </h2>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <img src="/media/correo.png" class="img-thumbnail text-center" alt="correo corporativo" width="600">
            </div>
        </div>
    </div>
</div>
<div class="row padding-50px">
    <div class="container padding-50px">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    "Landing page" o Página de aterrizaje
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12 ">
            <div class="container-fluid">
                <h3 class="text-center">
                    Página web ideal para mostrarse al mundo.
                </h3>
                <hr>
                <p class="text-justify">

                </p>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="row padding-50px gray">
    <div class="container padding-50px">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Marketing
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12 ">
            <div class="container-fluid">
                <h3 class="text-center">
                    La palabra más famosa de los últimos tiempos.
                </h3>
                <hr>
                <p class="text-justify">
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="row padding-50px gray">
    <div class="container padding-50px">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Correo corporativo
                </h2>
            </div>
        </div>
        <br>
        <div class="col-xs-12 ">
            <div class="container-fluid">
                <h3 class="text-center">
                    Tenga una impresión profesional ante sus clientes.
                </h3>
                <hr>
                <p class="text-justify">

                </p>
                <br>
            </div>
        </div>
    </div>
</div>
{% include 'frontend/contact-form.html' %}
{% endblock %}

{% block js %}

{% endblock %}
