* {
box-sizing: border-box;
}

*:focus {
    outline: none;
}
body {
    font-family: Arial;
    background-color: #2980b9;
    padding: 50px 0;
}
.login {
    margin: 20px auto;
    width: 370px;
}
.login-screen {
    padding: 20px;
    border-radius: 5px;
}
.form-group{
    margin-bottom: 5px;
}
.app-title {
    text-align: center;
    color: #EEE;
}

.login-form {
    text-align: center;
}
.control-group {
    margin: 15px 0;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 330px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}
.control-label{
}

.btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.btn:hover {
    background-color: #2980B9;
}

.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}
.register{
    margin-top: 15px;
}
.register a,.register a:hover,.register a:active{
    color: #3498DB;
    text-decoration: none;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(255, 255, 255);
    background-image: none;
    color: rgb(0, 0, 0);
}
