{% load staticfiles %}
<div class="row hyper-padding">
    <div class="container">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 container-center">
            <form clas="" action="{% url 'contact' %}" method="post">
                <div class="text-center">
                    <h3 class=" hyper-text">
                        Déjanos un mensaje
                    </h3>
                </div>
                <hr>
                <div class="panel-body">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="¿Cuál es su nombre?" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="¿Cuál es su email?" type="Su email" required>
                            <input class="hidden" name="url" value="{{url}" placeholder="{{url}">
                        </div>
                    </div>
                    <textarea class="form-control"  name="comments" placeholder="Déjenos un comentario" rows="3"></textarea>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 form-group text-center">
                            <button class="btn btn-default contact-btm" type="submit">
                                Enviar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
