<div class="row hyper-padding">
    <div class="container">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 container-center">
            <form clas="" action="{% url 'contract' %}" method="post">
                <div class="text-center">
                    <h3 class=" hyper-text">
                        Trabajemos juntos
                    </h3>
                </div>
                <hr>
                <div class="panel-body">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="¿Cuál es su nombre?" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="¿Cuál es su email?" type="Su email" required>
                            <input class="hidden" name="url" value="{{service.get_absolute_url}}" placeholder="{{service.get_absolute_url}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="jumbo-text text-center">
                                ¿Cómo le podemos ayudar?
                            </h3>
                        </div>
                        <div class="col-sm-{% if sub_services %}6{% else %}12{% endif %} form-group">
                            <select class="form-control" name="service">
                                <option>{{service.name}}</option>
                            </select>
                        </div>
                        {% if sub_services %}
                        <div class="col-sm-6 form-group">
                            <select class="form-control" name="sub_service">
                                {% for services in sub_services %}
                                <option>{{services.title}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <select class="form-control" name="budget">
                                <option> Presupuesto estimado </option>
                                <option> $0 - $1k </option>
                                <option> $1k - $5k</option>
                                <option> $5k - $10k</option>
                                <option> $10k - $50k </option>
                                <option> $50k - $100k </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="jumbo-text text-center">
                                ¿Puede describir en pocas palabras su proyecto?
                            </h3>
                        </div>
                        <div class="col-sm-12 form-group">
                            <textarea class="form-control"  name="comments" placeholder="Describa su proyecto" rows="3"></textarea>
                        </div>
                        <br>
                    </div>
                    <div class="row">

                        <div class="col-sm-12 form-group text-center">
                            <button class="btn btn-default contact-btm" type="submit">
                                Enviar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
