{% extends 'base.html' %}
{% load staticfiles %}


{% block css %}
<style media="screen">

</style>
{% endblock %}

{% block content %}
<div id="image-quote" class="row turquesa quote hyper-padding">
    <div class="quote-text overall ">
        <h3 class="center-title hyper-text">
            Programar es nuestra pasión
        </h3>
    </div>
</div>

<div class="row padding-50px">
    <div class="container">
        <div class="col-xs-12 padding-50px">
            <h2 class="text-center h2-title">Casos de estudio</h2>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="gray panel-card">
                <img class="media__image img-responsive" src="/media/LogosIURD.png">
                <div class="media__body">
                    <h2>Página web IURD Panamá.</h2>
                    <p>Web / En construcción</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="gray panel-card">
                <img class="media__image img-responsive" src="/media/LogosPHX.png">
                <div class="media__body">
                    <h2>Página web Grupo Phoenix World Trade Inc.</h2>
                    <p>Web / En construcción</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="gray panel-card">
                <img class="media__image img-responsive" src="/media/LogosAsesalud.png">
                <div class="media__body">
                    <h2>Página web Asesalud Laboral 2727 C.A.</h2>
                    <p>Web / En construcción</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row padding-50px">
    <div class="container">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <div class="gray panel-card">
                <img class="media__image img-responsive" src="/media/LogosDrKlin.png">
                <div class="media__body">
                    <h2>Página web Dr. Klin Panamá S.A.</h2>
                    <p>Web / En construcción</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% if technologies %}
<div class="row padding-50px gray">
    <div class="container">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Tecnologia que usamos en Dev2tech
                </h2>
            </div>
        </div>
        <hr>
        <div class="container">
        {% for tech in technologies %}
            <div class="col-xs-6 col-sm-3">
                <div class="container-fluid">
                    <img src="{{tech.image.url}}" class="img-thumbnail" alt="Desarrollo" width="250">
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% include 'frontend/contact-form.html' %}

{% endblock %}

{% block js %}
<script type="text/javascript">
</script>
{% endblock %}
