{% extends 'base.html' %}
{% load staticfiles %}


{% block css %}
{% endblock %}

{% block content %}
<div class="row vh60 newBlue">
    <br>
    <br>
    <br>
    <br class="hidden-xs">
    <br class="hidden-xs">
    <br class="hidden-xs">

    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <h2 class="text-center text-onlysection">
                Programar es nuestra pasión
            </h2>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="container-fluid">
                <img src="/media/web.png" class="img-thumbnail text-center" alt="correo corporativo" width="600">
            </div>
        </div>
    </div>
</div>

<div class="row padding-50px gray">
    <div class="container">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Casos de estudio
                </h2>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="col-xs-12 col-sm-6">
                <h3 class="text-center text-services-sub">
                    Página web Asesalud Laboral C.A.
                </h3>
                <hr>
                <p class="text-justify text-services">
                    Asesalud Laboral 2727 C.A. es una empresa líder en ámbito de seguridad y salud laboral.
                </p>
                <p class="text-center">
                    <blockquote class="text-services">
                        <a class="footer-list-a text-services">https://asesaludlaboral.com.ve</a>
                    </blockquote>
                </p>
                <p class="text-justify text-services">
                    Ante la competitividad en el campo, los gerentes de Asesalud Laboral, requirieron una imagen fresca y actual, para ofrecer sus servicios.
                </p>
                <p class="text-justify text-services">
                    En Dev2tech, estamos complacidos de trabajar con Asesalud Laboral. Fecha de entrega:
                </p>
                <a class="footer-list-a text-services">16/01/2017</a>
                <br>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3 class="text-center text-services-sub">
                    Página web Dr. Klin Panamá S.A.
                </h3>
                <hr>
                <p class="text-justify text-services">
                    Dr. Klin Panamá S.A. es una empresa dedicada a la venta al por mayor, de artículos de limpieza y papelería.
                </p>
                <p class="text-center">
                    <blockquote class="text-services">
                        <a class="footer-list-a text-services">https://drklinpa.com</a>
                    </blockquote>
                </p>
                <p class="text-justify text-services">
                    En vista de los avances tecnologicos, los comercios electronicos se han apoderado de las ventas modernas y en Dr. Klin no se han resistido al cambio.
                </p>
                <p class="text-justify text-services">
                    En Dev2tech, estamos complacidos de trabajar con Dr. Klin Panamá S.A. Fecha de entrega:
                </p>
                <a class="footer-list-a text-services">20/01/2017</a>
                <br>
            </div>
        </div>
        <div class="container">
            <div class="col-xs-12">
                <h3 class="text-center text-services-sub">
                    Página web Grupo Phoenix World Trade Inc.
                </h3>
                <hr>
                <p class="text-justify text-services">
                    Grupo Phoenix World Trade Inc. es una empresa líder en el sector de "retail" o "ventas al por menor".
                </p>
                <p class="text-center">
                    <blockquote class="text-services">
                        <a class="footer-list-a text-services">https://phoenixworldtrade.com</a>
                    </blockquote>
                </p>
                <p class="text-justify text-services">
                    Para una empresa estar en la red es algo muy importante, hacerse conocer es muy importante y más cuando su operación es relacionada a las ventas.
                </p>
                <p class="text-justify text-services">
                    En Dev2tech, estamos complacidos de trabajar con Grupo Phoenix World Trade Inc. Fecha de entrega:
                </p>
                <a class="footer-list-a text-services">03/02/2017</a>
                <br>
            </div>
        </div>
    </div>
</div>

{% if technologies %}
<div class="row padding-50px gray">
    <div class="container">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h2 class="text-center h2-title">
                    Tecnologia que usamos en Dev2tech
                </h2>
            </div>
        </div>
        <hr>
        <div class="container">
        {% for tech in technologies %}
            <div class="col-xs-6 col-sm-3">
                <div class="container-fluid">
                    <img src="{{tech.image.url}}" class="img-thumbnail" alt="Desarrollo" width="250">
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% include 'frontend/contact-form.html' %}
{% endblock %}

{% block js %}
<script type="text/javascript">
</script>
{% endblock %}
