{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<style media="screen">
    #image-quote
    {
        background-image: url(/media/index-quote.png);
    }
    @media screen and (max-width: 736px) {
        #image-quote
        {
            background-image: url(/media/index-quote-xs.png);
            background-attachment: local;
        }
    }
    .quote-triangle.gray-footer svg *, .gray-footer.quote-triangle-bottom svg *
    {
        fill: rgba(201, 201, 201, 1);
    }

</style>
{% endblock %}

{% block content %}

<div id="mycarousel" class="visible-xs carousel slide carousel-fade vh100 gray" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <img src="media/wall.png" data-color="gray" alt="Dev2tech">
        </div>
    </div>
</div>

<div class="visible-xs index-full-screen-text-box">
    <h2 class="text-background h2-title">Bienvenido aquí encontrarás:</h2><b class="typed-text hyper-text"></b>
</div>

<div class="hidden-xs gray video-header">
    <div class="video-container">
        <video class="full-screen" preload="true" autoplay="autoplay" loop="loop" volume="0">
            <source src="/media/video/index-video.mp4" type="video/mp4">
            <source src="/media/video/index-video.webm" type="video/webm">
            <source src="/media/video/index-video.ogv" type="video/ogg">
        </video>
    </div>
</div>

<div id="scroll" class="mouse">
    <div class="scroll">
    </div>
    <div class="scroll-text">
        <p>Scroll</p>
    </div>
</div>

{% if services %}
<div class="row gray">
    <div class="container">
        <div class="col-xs-12 padding-50px">
            <h2 class="text-center h2-title">Algunos de nuestros servicios</h2>
        </div>
        {% for service in services %}
        <div class="col-xs-12 col-sm-6 ">
            <a class="link-reset" href="{% url 'services' %}{{service.url_name}}">
                <div class="panel panel-card">
                    <div class="index-services-title">
                        <h3 class="jumbo-text center-title">{{service.name}}</h3>
                    </div>
                    <hr>
                    <div class="center-container">
                        <p>{{service.title}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<div id="image-quote" class="vh50 quote">
    <div class="quote-triangle gray-footer hidden-xs">
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 100 100">
            <polygon points="0 0 100 0 100 100 0 0"></polygon>
        </svg>
    </div>
    <div class="quote-text overall center-container">
        <h3 class="hyper-text center-title" >"Somos el enlace entre su negocio y la nube informática"</h3>
    </div>
    <div class="quote-triangle-bottom white hidden-xs">
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 100 100">
            <polygon class="a" points="0 0 100 100 0 100 0 0"></polygon>
        </svg>
    </div>
</div>

{% if blackboard %}
<div class="row jumbo-padding hidden-xs">
    <div class="container">
        <div class="col-sm-6">
            <a class="link-reset" href="{{services.get_absolute_url}}">
                <img src="http://placehold.it/600x600?text={{services.name}}">
            </a>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <div>
                    <img src="http://placehold.it/350x300?text=350x300">
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <img src="http://placehold.it/350x300?text=350x300">
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <img src="http://placehold.it/350x300?text=350x300">
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <img src="http://placehold.it/350x300?text=350x300">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <img src="http://placehold.it/365x600?text=365x600">
            </div>
        </div>
        <div class="col-sm-8 gray">
            <div>
                <img src="http://placehold.it/825x600?text=825x600">
            </div>
        </div>
    </div>
</div>
{% endif %}

{% include 'frontend/contact-form.html' %}

{% endblock %}

{% block js %}
<script type="text/javascript">

    var $item = $('.carousel .item');
    var $wHeight = $(window).height();
    $item.eq(0).addClass('active');
    $item.height($wHeight);
    $item.addClass('full-screen');

    $('.carousel img').each(function() {
        var $src = $(this).attr('src');
        var $color = $(this).attr('data-color');
        $(this).parent().css({
            'background-image' : 'url(' + $src + ')',
            'background-color' : $color
    });

    $(this).remove();
    });

    $(window).on('resize', function (){
        $wHeight = $(window).height();
        $item.height($wHeight);
    });

    $('.carousel').carousel({
    interval: 8000,
    pause: "false"
    });

    $(function(){
        $(".typed-text").typed({
            strings: [
                '"Tecnología en tu idioma"',
                '"Desarrollo y diseño web"',
                '"Estrategias de marketing"',
                '"Infraestructura remota"',
                '"Correo corporativo"',
                '"Y mucho más..."',
            ],
            loop: true,
            cursorChar: "|",
            typeSpeed: 30,
            backSpeed: 10,
            backDelay: 3000
        });
    });

</script>
{% endblock %}
