{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<style media="screen">
    .btn-buttom
    {
        position: relative;
        top: 100%
    }
    .text-background
    {
        background-color: rgba(3, 3, 3, 0.255);
    }

    a.btn-default{
        background-color: rgba(233, 233, 233, 0.5);
    }

</style>
{% endblock %}

{% block content %}

<div id="mycarousel" class="carousel slide carousel-fade vh100 gray" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <img src="media/solid-gray.png" data-color="gray" alt="Dev2tech">
        </div>
    </div>
</div>

<div class="index-full-screen-text-box">
    <h2 class="text-background h2-title">Bienvenido aquí encontrarás:</h2><b class="typed-text hyper-text"></b>
</div>

{% if services %}
<div class="row">
    <div class="container">
        <div class="col-xs-12 padding-50px">
            <h2 class="text-center h2-title">Algunos de nuestros servicios</h2>
        </div>
        {% for service in services %}
        <div class="col-xs-12 {{service.css_classes}}">
            <div class="panel gray panel-card panel-default">
                <div>
                    <div class="panel-heading">
                        <h3 class="text-center">{{service.title}}</h3>
                    </div>
                    <hr>
                    <div class="panel-body">
                        <p>{{service.content}}</p>
                        <a  href="{% url 'services' %}{{service.link}}" class="btn btn-default btn-lg btn-buttom pull-right">Ver más...</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="row red">
    <div class="container-fluid">
        <div class="col-xs-12">
            <h3 class="text-center text-middle text-lema" >"Somos el enlace entre su negocio y la nube informática"</h3>
        </div>
    </div>
</div>

{% include 'frontend/contact-form.html' %}

{% endblock %}

{% block js %}
</script>
<script type="text/javascript">

    var $item = $('.carousel .item');
    var $wHeight = $(window).height();
    $item.eq(0).addClass('active');
    $item.height($wHeight);
    $item.addClass('full-screen');

    $('.carousel img').each(function() {
        var $src = $(this).attr('src');
        var $color = $(this).attr('data-color');
        $(this).parent().css({
            'background-image' : 'url(' + $src + ')',
            'background-color' : $color
    });

    $(this).remove();
    });

    $(window).on('resize', function (){
        $wHeight = $(window).height();
        $item.height($wHeight);
    });

    $('.carousel').carousel({
    interval: 8000,
    pause: "false"
    });

    $(function(){
        $(".typed-text").typed({
            strings: [
                '"Tecnología en tu idioma"',
                '"Desarrollo y diseño web"',
                '"Estrategias de marketing"',
                '"Infraestructura remota"',
                '"Correo corporativo"',
                '"Y mucho más..."',
            ],
            loop: true,
            cursorChar: "|",
            typeSpeed: 30,
            backSpeed: 10,
            backDelay: 3000
        });
    });

</script>

{% endblock %}
