<div class="row panel-card">
    <div class="container  padding-50px">

        <div class="col-xs-12">
            <h2 class="text-center">Cotiza nuestros servicios</h2>
        </div>
        <br><br>
        <br><br>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 container">
            <div class="panel gray ">
                <form clas="" action="{% url 'contact' %}" method="post">
                    <div class="modal-body">
                        <div class="panel-body">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                                </div>
                            </div>
                            <textarea class="form-control" id="comments" name="comments" placeholder="Comentarios" rows="2"></textarea><br>
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Cerrar</button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button type="submit" class="btn btn-default btn-hover-green" data-action="save" role="button">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
