{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<style media="screen">
    .service-img
    {
        width:100%;
        height: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div class="row turquesa vh60">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid">
        <div class="col-xs-12">
            <h2 class="text-center text-onlysection">
                Ofrecemos:<br><b class="typed-text"></b>
            </h2>
        </div>
    </div>
</div>


<div class="row">
    <div class="container padding-50px">
        {% if services_section %}
            {% for services in services_section %}
                <div class="col-xs-12 col-sm-8">
                    <div class="panel panel-default panel-card teal">
                        <div class="panel-body">
                            <h2 class="">{{ services.title }}</h2>
                            <p>{{ services.content }}</p>
                            <p>
                                <a class="btn btn-default btn-lg pull-left" href="{% url 'services'%} {{services.link }}">
                                    Ver más
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="panel panel-default panel-card teal">
                        <img class="image-responsive service-img" src="{{ services.image.url }}" alt=""></img>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function($){
    $(function(){
      $(".typed-text").typed({
        strings: [
            "Programación web.",
            "Marketing digital.",
            "Contar historias.",
            "Infraestructura en la nube.",
            "Correo corporativo.",
        ],
        loop: true,
        cursorChar: "|",
        typeSpeed: 30,
        backSpeed: 15,
        backDelay: 2500
      });
    });
});
</script>
<script src="{% static 'base/js/typed.min.js' %}" charset="utf-8"></script>{% endblock %}
