{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<style media="screen">
    #image-quote
    {
        background-image: url(/media/services-quote.jpeg);
    }

    .card
    {
        background-color:#FFF;
        border: 3px solid rgba(63,63,63,0.06);
        margin-top: 50px;
        margin-bottom: 15px;
        padding-bottom: 25px;
    }
</style>
{% endblock %}

{% block content %}
<div class="row turquesa vh50 center-container">
    <div class="">
        <h2 class="center-title hyper-text">
            Ofrecemos:<br><b class="typed-text"></b>
        </h2>
    </div>
</div>
<div id="image-quote" class="row gray quote hyper-padding">
    <div class="quote-text overall ">
        <h3 class="center-title hyper-text">
            "Creemos en la excelencia.
            <br>
            Proveemos servicio profesional"
        </h3>
    </div>
</div>
<div id="scroll" class="mouse">
    <div class="scroll">
    </div>
    <div class="scroll-text">
        <p>Scroll</p>
    </div>
</div>

{% if services_section %}
<div class="row">
{% for services in services_section %}
    <div class="container card panel-card">
        <div class="col-xs-12">
            <div class="container-fluid">
                <h3 class="center-title hyper-text">
                    {{services.name}}
                </h3>
            </div>
        </div>
        <div class="col-xs-12 col-sm-7">
            <div class="container-fluid">
                <h2 class="center-title jumbo-text">
                    {{services.title}}
                </h2>
            </div>
            <div class="">
                {{services.short_description|linebreaks|truncatewords:50}}
            </div>
        </div>
        <div class="col-xs-12 col-sm-5">
            {% if services.image %}
            <div class="container-fluid">
                <img src="{{services.image.url}}" class="img-thumbnail" alt="Desarrollo" width="400">
            </div>
            {% endif %}
            <hr>
            <div class="text-center">
                <a  href="{{services.get_absolute_url}}" class="btn btn-default btn-lg btn-buttom">Ver más...</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endif %}

{% include 'frontend/contact-form.html' %}

{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function($)
{
    $(function(){
      $(".typed-text").typed({
        strings: [
            "Programación web.",
            "Marketing digital.",
            "Contar historias.",
            "Infraestructura híbrida, pública y privada.",
            "Correo corporativo.",
        ],
        loop: true,
        cursorChar: "|",
        typeSpeed: 30,
        backSpeed: 15,
        backDelay: 2500
      });
    });
});
</script>
{% endblock %}
