<!DOCTYPE html>{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Working on updates | Dev2tech</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Sarina" rel="stylesheet">
	<style>
		*{}
		#logoFont {font-family: 'Sarina', cursive; font-size: 5em;}
		body{background-color: #EEE;}
		.row .container{background-color: #E1E1E1;padding: 25px;margin-bottom: 25px}
		#cuerpoLogo {margin-top: 3vh;}
		#cuerpo .container:first-child{margin-top: 3vh;}
		.card-1 {box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
		.card-1:hover {box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
	</style>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-83370429-1', 'auto');
		ga('send', 'pageview');


        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1702550870074616',
                xfbml      : true,
                version    : 'v2.8'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    
	</script>
</head>
<body>
	<div class="row" id="cuerpoLogo">
		<h1 class="text-center" id="logoFont">Dev2tech</h1>
	</div>

	<div class="row" id="cuerpo">
		<div class="container card-1">
			<div class="col-xs-12">
				<h2 class="text-center">Ups... ¡Nos escontramos en mantenimiento!</h2>
				<h4 class="text-center">En breve volveremos.</h4>
			</div>
		</div>
		<div class="container card-1">
			<div class="col-xs-12">
				<h2 class="text-center">¿Quiere estar en contacto?</h2>
			</div>
			<div class="col-xs-12">
				<form clas="" action="{% url 'contract' %}" method="post">{% csrf_token %}
		            <div class="text-center">
		                <h3 class=" hyper-text">
		                    Trabajemos juntos
		                </h3>
		            </div>
                	<hr>
	                <div class="panel-body">
                        <div class="col-sm-4 form-group">
                            <input class="form-control" id="name" name="name" placeholder="¿Cuál es su nombre?" type="text" required>
                        </div>
                        <div class="col-sm-4 form-group">
                            <input class="form-control" id="email" name="email" placeholder="¿Cuál es su email?" type="email" required>
                            <input class="hidden" name="url" value="{{service.get_absolute_url}}" placeholder="{{service.get_absolute_url}}">
                        </div>
                        <div class="col-sm-4 form-group">
                            <input class="form-control" id="number" name="number" placeholder="¿Cuál es su número telefónico?" type="number" required>
                        </div>
                    </div>
                    <div class="text-center">
                        <h3 class="text-center">
                            ¿Puede describir en pocas palabras su proyecto?
                        </h3>
                    </div>
                        <hr>
                        <div class="col-sm-12 form-group">
                            <textarea class="form-control"  name="comments" placeholder="Describa su proyecto" rows="3"></textarea>
                        </div>
                        <br>

                        <div class="col-sm-12 form-group text-center">
                            <button class="btn btn-default btn-lg" type="submit">
                                Enviar
                            </button>
                        </div>
	                </div>
            	</form>
				
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	

	<script>
		
	</script>	
</body>
</html>