<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>DEV2TECH | {{title|upper}} </title>
    <meta name="Title" content="{{title}}">
    <meta name="Keywords" content="Web, web development,Cloud Services, cloud, dev, TECH, desarrollo, software ">
    {% include 'header.html' %}

    {% block css %}
    {% endblock %}

</head>
<body>
    {% block full-vh-imagen %}
    {% endblock %}
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo-font" href="#">Dev2tech</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#about">NOSOTROS</a></li>
                        <li><a href="#services">SERVICIOS</a></li>
                        <li><a href="#portfolio">PORTFOLIO</a></li>
                        <li class="hire-us"><a href="#contact">CONTACTO</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section>
        {% block content %}
        {% endblock %}
    </section>
    <footer class="container-fluid text-center">
        <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <p>
            <b class="logo-font">Dev2tech s.a.</b>
        </p>
    </footer>
    <script src="{% static 'base/js/vendor/jquery.js' %}" charset="utf-8"></script>
    <script src="{% static 'base/js/bootstrap.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'base/js/app.js' %}" charset="utf-8"></script>
    {% block js %}
    {% endblock %}
</body>
</html>
