<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>DEV2TECH | {{title|upper}} </title>
    <meta name="Title" content="{{title}}">
    <meta name="Keywords" content="Web, web development,Cloud Services, cloud, dev, TECH, desarrollo, software ">
    {% include 'header.html' %}
    {% block css %}
    {% endblock %}
</head>
<body>
    <header>

        <div class="logo_container">
            <span id="dev2tech-logo" class="logo logo-font">Dev2tech</span>
        </div>

        <div class="button_container" id="toggle">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </div>

        <div class="overlay" id="overlay">
            <nav class="overlay-menu">
                <ul>
                    {% if page_title != 'Home' %}
                    <li>
                        <a href="{% url 'Home' %}">Inicio</a>
                    </li>
                    {% endif %}
                    {% if page_title != 'about' %}
                    <li>
                        <a href="{% url 'about' %}">Conócenos</a>
                    </li>
                    {% endif %}
                    {% if page_title != 'services' %}
                    <li>
                        <a href="{% url 'services' %}">¿Qué hacemos?</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

    </header>

    <section>
        {% block content %}
        {% endblock %}
    </section>

    <footer class="container-fluid lightGray">

        <div class="row">
            <div class="container">

                <div class="col-xs-12 col-sm-3 footer-list">
                    <h4 class="footer-h4">Enlaces</h4>
                    <ul class="list">
                        {% if page_title != 'Home' %}
                        <li>
                            <a class="footer-list-a" href="{% url 'Home' %}">Inicio</a>
                        </li>
                        {% endif %}
                        {% if page_title != 'about' %}
                        <li>
                            <a class="footer-list-a" href="{% url 'about' %}">Conócenos</a>
                        </li>
                        {% endif %}
                        {% if page_title != 'services' %}
                        <li>
                            <a class="footer-list-a" href="{% url 'services' %}">¿Qué hacemos?</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-3 footer-list">
                    <h4 class="footer-h4">Servicios</h4>
                    <ul class="list">
                        <li>
                            <a class="footer-list-a" href="{% url 'services' %}correos">
                                Correo corporativo
                            </a>
                        </li>
                        <li>
                            <a class="footer-list-a" href="{% url 'services' %}full-stack">
                                Programación web
                            </a>
                        </li>
                        <li>
                            <a class="footer-list-a" href="{% url 'services' %}infra">
                                Infraestructura
                            </a>
                        </li>
                        <li>
                            <a class="footer-list-a" href="{% url 'services' %}marketing">
                                Marketing
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-3 footer-list">
                    <h4 class="footer-h4">Interés</h4>
                    <ul class="list">
                        <li>
                            <a class="footer-list-a" href="{% url 'loyalty' %}">
                                terminos de servicios
                            </a>
                        </li>
                        <li>
                            <a class="footer-list-a" href="{% url 'privacy' %}">
                                terminos de privacidad
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-3 footer-list">
                    <h4 class="footer-h4">Redes Sociales</h4>
                    <ul class="list">
                        <li>
                            <a class="footer-list-a" href="https://www.facebook.com/dev2tech" target="_blank">
                                /dev2tech
                            </a>
                        </li>
                        <li>
                            <a class="footer-list-a" href="https://www.instagram.com/dev2tech/" target="_blank">
                                /dev2tech
                            </a>
                        </li>
                        <li>
                            <a class="footer-list-a" href="https://twitter.com/@dev2tech" target="_blank">
                                /@dev2tech
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row darkGray">

            <div class="container">

                <div class="col-xs-12 col-sm-6 padding-15px text-center">
                    <p class="text-white">
                        All right reseved {% now "Y" %} <img src="/media/logo.png" class="image-responsive" alt="" height="18" style="vertical-align:top;">
                    </p>
                </div>

                <div class="col-xs-12 col-sm-6 padding-15px">
                    <ul class="footer-nav">
                        {% if page_title != 'Home' %}
                            <li>
                                <a href="{% url 'Home' %}">Inicio</a>
                            </li>
                        {% endif %}
                        {% if page_title != 'about' %}
                            <li>
                                <a href="{% url 'about' %}">Conócenos</a>
                            </li>
                        {% endif %}
                        {% if page_title != 'services' %}
                            <li>
                                <a href="{% url 'services' %}">¿Qué hacemos?</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>

            </div>

        </div>

    </footer>

    <script src="{% static 'base/js/vendor/jquery.js' %}" charset="utf-8"></script>
    <script src="{% static 'base/js/bootstrap.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'base/js/app.js' %}" charset="utf-8"></script>
    <script src="{% static 'base/js/sh.js' %}" charset="utf-8"></script>
    <script type="text/javascript">
        $('.panel').matchHeight();
    </script>
    <script src="{% static 'base/js/typed.min.js' %}" charset="utf-8"></script>

    {% block js %}

    {% endblock %}
</body>
</html>
