<!DOCTYPE html>
<html lang="es">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>{{pg_title}} | {{site_name}}</title>
    <meta name="google" value="notranslate">
    <meta name="title" content="{{pg_title}} - {{site_name}}">
    <meta name="keywords" content="Dev2tech desarrollo diseño web panama">
    <meta name="description" content="{{pg_description}}">
    <meta name="application-name" content="Dev2tech">
    <meta name="application-url" content="{{site_url}}">
    <link rel="canonical" href="{{site_url}}">
    <meta property="og:title" content="{{pg_title}} - {{site_name}}" />
    <meta property="og:url" content="{{site_url}}" />
    <meta property="og:description" content="{{pg_description}}" />
    <meta property="og:locale" content="es_US" />
    <meta property="og:site_name" content="{{site_name}}" />
    {% include 'header.html' %}
    {% block css %}
    {% endblock %}
    <script src="{% static 'base/js/vendor/jquery.js' %}" charset="utf-8"></script>
</head>
<body>
    <header>
        {% include 'base/header.html' %}
    </header>
    <section>{% block content %}{% endblock %}</section>
    <footer class="container-fluid lightGray">
        {# include 'base/footer.html' #}
    </footer>

    <script src="{% static 'base/js/bootstrap.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'base/js/sh.js' %}" charset="utf-8"></script>
    <script src="{% static 'base/js/typed.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'base/js/marked.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'base/js/app.js' %}" charset="utf-8"></script>

    {% block js %}
    {% endblock %}
</body>
</html>
