<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>DEV2TECH | {{title|upper}} </title>
    <meta name="Title" content="{{title}}">
    <meta name="Keywords" content="Web, web development,Cloud Services, cloud, dev, TECH, desarrollo, software ">
    {% include 'header.html' %}
    <link rel="stylesheet" href="{% static 'auth/css/auth.css' %}" media="screen" title="no title">
    {% block css %}
    {% endblock %}

</head>
<body>
<div class="text-center" style="padding:50px 0">
	<div class="logo">{{title}}</div>
	<!-- Main Form -->
	<div class="login-form-1">
        {% block auth %}
        {% endblock %}
    </div>
	<!-- end:Main Form -->
</div>
</body>
</html>
