{% extends 'auth/base-experimental.html' %}

{% block auth %}

<form class="form-horizontal" role="form" method="post" action="{% url 'Login' %}">

	<div class="row column log-in-form">
		<h4 class="text-center">Log in with you email account</h4>
		{% csrf_token %}

		<label>Email
			<input type="text" class="form-control" id="username" name="username" placeholder="email@dev2tech.xyz">
		</label>

		<label>Password
			<input type="password" class="form-control" id="password" name="password" placeholder="***********">
		</label>
		<input id="show-password" type="checkbox"><label for="show-password">Show password</label>

		<button type="submit" class="button expanded">Log In</button>

        <p class="text-center"><a href="#">Forgot your password?</a></p>
		<p class="text-center">¿Aún no está registrado? <a href="{% url 'Register' %}">Regístrese</a></p>

	</div>

</form>
{% endblock %}
