{% load staticfiles %}

#div-full-screen
{
    background-position: center center;
    background-color: rgba(3, 3, 3, 0.5);
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-color: #333;
    position:relative;
}
.dev2tech-no-margin-buttom
{
    padding-bottom: 0px;
}

.text-darken
{
    color: rgb(0,0,0);
}

.dev2tech-margin
{
    margin: 50px 0 0 0;
}

.padding-50px
{
    padding: 50px 0;
}

.padding-10px
{
    padding: 10px 0;
}

.vh10
{
    height: 10vh;
}

.vh20
{
    height: 25vh;
}

.vh30
{
    height: 30vh;
}

.vh40
{
    height: 40vh;
}

.vh50
{
    height: 50vh;
}

.vh60
{
    height: 60vh;
}

.vh70
{
    height: 70vh;
}

.vh80
{
    height: 80vh;
}

.vh90
{
    height: 90vh;
}

.vh100
{
    height: 100vh;
}

.vh110
{
    height: 110vh;
}

.vh120
{
    height: 120vh;
}

.vh130
{
    height: 130vh;
}

.vh140
{
    height: 140vh;
}

.vh150
{
    height: 150vh;
}

.vh160
{
    height: 160vh;
}

.text-services
{
    font-size: 1.3em;
}

.text-services-sub
{
    font-size: 1.7em;
}

.breadcrumb
{
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.0);
}

.breadcrumb>.active {
    color: #333;
}

.media__image { display: block; }

.media__body {
background: rgba(201,201,201,1);
bottom: 0;
font-size: 1em;
left: 0;
opacity: 0;
overflow: hidden;
padding: 3.75em 3em;
position: absolute;
text-align: center;
top: 0;
right: 0;
-webkit-transition: 0.6s;
transition: 0.6s;
}

.media__body:hover { opacity: 1; }

.media__body:after,
.media__body:before {
border: 1px solid rgba(255, 255, 255, 0.7);
bottom: 1em;
content: '';
left: 1em;
opacity: 0;
position: absolute;
right: 1em;
top: 1em;
-webkit-transform: scale(1.5);
-ms-transform: scale(1.5);
transform: scale(1.5);
-webkit-transition: 0.6s 0.2s;
transition: 0.6s 0.2s;
}

.media__body:before {
border-bottom: none;
border-top: none;
left: 2em;
right: 2em;
}

.media__body:after {
border-left: none;
border-right: none;
bottom: 2em;
top: 2em;
}

.media__body:hover:after,
.media__body:hover:before {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
opacity: 1;
}

.media__body h2 { margin-top: 50px; font-size: 1.45em; }

.media__body p { text-align: right; margin-top: 80px; font-size: 1.198em;}
