{% load staticfiles %}

#div-full-screen
{
    background-position: center center;
    background-color: rgba(3, 3, 3, 0.5);
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-color: #333;
    position:relative;
}
.dev2tech-no-margin-buttom
{
    padding-bottom: 0px;
}

.text-darken
{
    color: rgb(0,0,0);
}

.dev2tech-margin
{
    margin: 50px 0 0 0;
}

.padding-50px
{
    padding: 50px 0;
}

.padding-10px
{
    padding: 10px 0;
}

.vh10
{
    height: 10vh;
}

.vh20
{
    height: 25vh;
}

.vh30
{
    height: 30vh;
}

.vh40
{
    height: 40vh;
}

.vh50
{
    height: 50vh;
}

.vh60
{
    height: 60vh;
}

.vh70
{
    height: 70vh;
}

.vh80
{
    height: 80vh;
}

.vh90
{
    height: 90vh;
}

.vh100
{
    height: 100vh;
}

.vh110
{
    height: 110vh;
}

.vh120
{
    height: 120vh;
}

.vh130
{
    height: 130vh;
}

.vh140
{
    height: 140vh;
}

.vh150
{
    height: 150vh;
}

.vh160
{
    height: 160vh;
}

.text-services
{
    font-size: 1.3em;
}
.text-services-sub
{
    font-size: 1.7em;
}
