@media screen and (max-width: 736px) {
    .two-collumn
    {
        height: 220vh;
    }

    .logo_container > .logo
    {
        font-size: 1.6em;
    }

    .logo_container
    {
        left: 15px;
        top:28px;
    }

    .button_container
    {
        right: 15px;
        top:28px;
    }

    .overlay ul li a
    {
        font-size: 1.6em;
    }

    .left
    {
        border: 1px solid #FFF;
        margin: 35px 10px 0px 40px;
        z-index: 99999;
    }

    .right
    {
        border: 1px solid #FFF;
        margin: 35px 35px 0px 10px;
        z-index: 99999;
    }

    .two-collumn > .left, .two-collumn > .right
    {
        display: flex;
        flex-direction: row;
        width: 90vw;
    }
    .index-full-screen-text-box
    {
        top:55%;
    }
    .index-full-screen-text-box > h2
    {
        font-size: 2em;
    }

    .index-full-screen-text-box > h2> .typed-text, .hyper-text,
    .typed-text, .typed-cursor
    {
        font-size: 30px;
    }

    .text-lema
    {
        font-size: 2em;
        margin: 15% auto;
    }

    .text-onlysection
    {
        font-size: 1.9em;
    }

    .h2-title
    {
        font-size: 1.5em;
    }

    .text-services-sub
    {
        font-size: 1.3em;
    }

    .text-services
    {
        font-size: 1em;
    }

    .index-services-container
    {
        /*background-color: rgba(3, 3, 3, 0.2);*/
        margin-bottom: 0px;
    }

    .hyper-padding
    {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .media__body h2 { margin-top: 40px; font-size: 1.2em; }

    .media__body p { text-align: right; margin-top: 50px; font-size: .98em;}

    .social-media-icon
    {
        height: 100px;
    }

    .mouse{display: none}
}
