.index-full-screen-text-box
{
    position: absolute;
    width: 100%;
    heigh: 100%;
    text-align: center;
    top: 70%;
    left: 0;
    margin: 0 auto;
    font-family: 'Droid Sans', sans-serif;
    z-index: 999;
}

.index-text-box p
{
    font-size: 20px;
}

.index-text-box a
{
    display: inline-block;
    position: relative;
    text-align: center;
    color: #333333;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    top: 5px;
}

.index-text-box a:after
{
    content: '';
    position: absolute;
    background: #333333;
    height: 2px;
    width: 0%;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    transition: .35s ease;
}

.index-text-box a:hover:after
{
    width: 100%;
}

.logo_container
{
    position: fixed;
    top: 40px;
    left: 80px;
    height: auto;
    width: auto;
    cursor: pointer;
    transition: opacity .25s ease;
    z-index: 100;
}

.logo_container > .logo
{
    font-size: 2.2em;
    color: black;
}

.logo.active
{
    color: #fff;
    z-index: 100
}

.button_container
{
    position: fixed;
    top: 45px;
    right: 80px;
    height: 27px;
    width: 35px;
    cursor: pointer;
    transition: opacity .25s ease;
    z-index: 100;
}

.button_container:hover
{
    opacity: .7;
}

.button_container.active .top
{
    transform: translateY(10px) translateX(0) rotate(45deg);
    background: #FFF;
}

.button_container.active .middle
{
    opacity: 0;
    background: #FFF;
}

.button_container.active .bottom
{
    transform: translateY(-10px) translateX(0) rotate(-45deg);
    background: #FFF;
}

.button_container span
{
    background: #000;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
}

.button_container span:nth-of-type(2)
{
    top: 10px;
}

.button_container span:nth-of-type(3)
{
    top: 20px;
}

.overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, width .35s;
    z-index: 50;
}

.overlay:before
{
    content: '';
    background: #333333;
    left: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: left .35s ease;
}

.overlay:after
{
    content: '';
    background: #333333;
    right: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    transition: all .35s ease;
}

.overlay.open
{
    opacity: .9;
    visibility: visible;
    height: 100%;
}

.overlay.open:before
{
    left: 0;
}

.overlay.open:after
{
    right: 0;
}

.overlay.open li
{
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
}

.overlay.open li:nth-of-type(2)
{
    animation-delay: .45s;
}

.overlay.open li:nth-of-type(3)
{
    animation-delay: .55s;
}

.overlay.open li:nth-of-type(4)
{
    animation-delay: .65s;
}

.overlay nav
{
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    text-align: center;
    z-index: 100;
}

.overlay ul
{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay ul li
{
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}

.overlay ul li a
{
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
    font-size: 2.2em;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after
{
    width: 100%;
}

.overlay ul li a:after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    transition: .35s;
}

@keyframes fadeInRight
{
    0%
    {
        opacity: 0;
        left: 20%;
    }
    100%
    {
        opacity: 1;
        left: 0;
    }
}

.carousel-fade .carousel-inner .item
{
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active
{
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right
{
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right
{
    opacity: 1;
}

.carousel-fade .carousel-control
{
    z-index: 2;
}

.index-full-screen-text-box > h2
{
    font-size: 3em;
    color: #000;
}

.footer-list
{
    padding-top: 45px;
    padding-bottom: 45px;
}

.footer-h4
{
    font-size: 1.6em;
    border-bottom: 2px solid gray;
}

ul.list
{
    list-style:none;
    padding:0px;
}

.footer-list-a
{
    color: rgba(0, 0, 0, 0.9);
}

.footer-list-a:hover,
.footer-list-a:focus
{
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

.h2-title
{
    font-size: 2.4em;
    font-weight: bolder;
}

.img-thumbnail
{
    background-color: rgba(255,255,255,0);
    border: rgba(255,255,255,0);
}
